@page
@model WebApp.Pages.Rules

@{ ViewData["Title"] = "Rules"; }
<div class="rules-container">
    <h1 class="rules-title">TIC-TAC-TWO Rules <br>(RAZOR-PAGES EDITION)</h1>
    <div class="rules-content">
        <p>Select the place on the board to place a new game piece.</p>
        <p>To move a piece, select the piece you want to move and then select a new spot for that piece.</p>
        <p>To move the grid, press the button "Move Grid" and then select a new upper left corner for the grid.</p>
        <p>If a new game is created, it is autosaved.</p>
        <p>To load/join a game, the game name and passwords must be remembered.</p>
        <p>Other TIC-TAC-TWO rules can be found here: <a href="https://www.geekyhobbies.com/tic-tac-two-board-game-review/" class="rules-link">Original Rules</a></p>
    </div>
</div>